include ./main/hero-section
include ./main/benefits-section
include ./main/about_students-section
include ./main/cities-section
include ./main/about_methot-section
include ./main/advantages-section
.background-wrapper
  include ./main/reviews-section
  include ./main/price-section
