section.price-section
  .container
    .price-title-holder
      .price-title-box
        h2.title-2 price
    .price-slider
      .price-slider-item-wrapepr
        .price-slider-item
          div
            h3.price-title Trial free lesson
            ul.price-list
              li.price-item 45-60 min lesson (introduction to mental arithmetic).
              li.price-item 48 hours access to computer platform
              li.price-item Feedback from the teacher
          .price-button-wrapper
            button.price-button book
      .price-slider-item-wrapepr
        .price-slider-item
          div
            h3.price-title 1 month
            ul.price-list
              li.price-item 4 lessons of 60 minutes in a mini group
              li.price-item 24/7 IT platform access for 28 days
              li.price-item Individual homework assignments for each day
              li.price-item Motivational system (certificates, gifts)
              li.price-item Teacher control
          .price-button-wrapper
            button.price-button 100£
      .price-slider-item-wrapepr
        .price-slider-item
          .discount-wrapper
            p.discount-value 10%
          div
            h3.price-title 3 month
            ul.price-list
              li.price-item 12 lessons of 60 minutes in a mini group
              li.price-item 24/7 IT platform access for 84 days
              li.price-item Individual homework assignments for each day
              li.price-item Motivational system (certificates, gifts)
              li.price-item Teacher control
          .price-button-wrapper
            button.price-button 270£
      .price-slider-item-wrapepr
        .price-slider-item
          div
            h3.price-title 1 month of individual lessons
            ul.price-list
              li.price-item 4 lessons of 50 minutes in a mini group
              li.price-item 24/7 IT platform access for 28 days
              li.price-item Individual homework assignments for each day
              li.price-item Motivational system (certificates, gifts)
              li.price-item Teacher control
          .price-button-wrapper
            button.price-button 125£
